[Unit]
Description=Configure my Wacom tablet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/alisson/.config/wacom/intuos-wacom-config.sh

[Install]
WantedBy=graphical-session.target
