$bg: rgba(34, 34, 34, 0.7);
$dark-bg: #121212;
$fg: #fcfcfa;
$accent: #ff6188;

$font: "Roboto", sans-serif;
$icons: "Feather";

* {
	all: unset;
}

window {
	background-color: $bg;
	color: $fg;
	font-family: $font;
	font-weight: bold;
	font-size: 1.2rem;

	border-radius: 8px;
}

/* Buttons */
.button {
	padding: 0.8rem;

	font-family: $icons;
	font-weight: normal;
	font-size: 1.5rem;

	transition: color 0.3s ease-in;

	border-radius: 8px;
}
.button:hover {
	color: $accent;
}

.button__fab {
	margin: 0 1rem;

	background-color: $bg;
	border-radius: 50%;
}

.pfp {
	background-image: url("./profile.jpg");
	background-size: 100px;

	margin: 25px 105px 0 105px;

	border-radius: 100%;
}

.username {
	margin-top: -45px;

	font-size: 20px;
	font-weight: bold;

	color: $fg;
}

.time {
	margin: 15px 65px -20px 65px;

	font-size: 50px;
}

.colon {
	margin: 0;
	margin-top: -10px;

	color: $fg;
}

.day {
	margin-top: 25px;
	margin-bottom: 20px;

	font-size: 16px;
	font-weight: bold;
	color: $fg;
}

.button__player {
	// margin-top: -5px;
	// padding: 25px 25px 5px;
}

// .button_play-pause {
// 	font-size: 11px;
// }

/* Powermenu */
.powermenu {
	border: 3px solid $accent;
	border-radius: 8px;
}

/* Popup */
.popup {
	padding: 0 2rem;
}

.popup__player {
	padding: 1.5rem;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.popup__icon {
	margin: 0 1rem;

	font-family: $icons;
	font-size: 2rem;
	font-weight: normal;
}

.popup__content {
	margin: 0 1rem;
}

.popup__scale {
	trough {
		min-height: 4px;
		min-width: 220px;

		background-color: $dark-bg;
		border-radius: 50px;

		highlight {
			background-color: $accent;
			border-radius: 10px;
		}
	}
}

/* Popup Player */
.player__data {
	min-height: 7rem;
}

.player__artist {
	font-size: 1rem;
	font-weight: normal;
}

.player__art {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 8px;
}

.player__status {
	margin-top: 3rem;
}
