$bg: rgba(34, 34, 34, 0.816);
$light-bg: #585858;
$fg: #fcfcfa;
$accent: #ff6188;
$accent-alt: #a9dc76;

$font: "Roboto", sans-serif;
$icons: "Feather";

// * {
// 	all: unset;
// }

window {
	color: $fg;
	background: $bg;
	font-family: $font;
	font-size: 1.2rem;

	border-radius: 8px;
}

/* Buttons */
.button {
	padding: 0.8rem;

	font-family: $icons;
	font-size: 3rem;

	transition: color 0.3s ease-in;
	background: transparent;

	border-radius: 8px;
	border: none;
}
.button:hover {
	color: $accent;
}

.button__fab {
	margin: 0 1rem;

	font-size: 1.5rem;
	background: $bg;
	border-radius: 50%;
}

/** Dashboard **/

.background__img {
	background-image: url("./scripts/.wallpaper_blur");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Profile */

.profile {
	padding: 2rem;
}

.profile__img {
	min-height: 10rem;

	background-image: url("~/.pfp");
	background-size: cover;
	background-repeat: no-repeat;

	margin: 0 3.5rem;

	border-radius: 100%;
}

.profile__info {
	margin-top: 1rem;
}

.profile__user {
	margin-top: 1rem;

	font-size: 2rem;
}
.profile__uptime {
	color: $accent-alt;
}

/* Mail */
.mail {
	font-size: 2rem;
}

.mail__icon {
	font-family: $icons;
	font-size: 3rem;
}

/* Calendar */
.calendar {
	margin: 2rem;
	padding: 4px 2px 0 2px;

	background: transparent;
	border: none;

	:selected {
		background-color: $accent;
	}

	.header {
		background: transparent;
		color: $accent;
		font-weight: bold;
	}

	.button {
		color: $accent;
	}
}

/* Time */
.time {
	font-size: 3rem;
}

.time__colon {
	margin: 0;
}

/* Storage */
.storage {
	margin: 2rem 0;
}

.storage__name {
	margin: 0 1rem;
}

.storage__free {
	margin: 0 1rem;
}

.storage__bar {
	min-width: 160px;

	trough {
		background-color: $light-bg;

		progress {
			background-color: $accent;
		}
	}
}

/* Weather */

.weather__icon {
	font-size: 7rem;
}

.weather__temp {
	font-size: 2.2rem;
}

.weather__desc {
	font-size: 1.5rem;
}

/* Powermenu */
.powermenu {
	border: 3px solid $accent;
	border-radius: 8px;
}

/* Popup */
.popup {
	padding: 0 2rem;
}

.popup__player {
	padding: 1.5rem;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.popup__icon {
	margin: 0 1rem;

	font-family: $icons;
	font-size: 2rem;
}

.popup__content {
	margin: 0 1rem;

	font-weight: bold;
}

.popup__scale {
	trough {
		min-height: 4px;
		min-width: 220px;

		background-color: $light-bg;
		border-radius: 50px;

		highlight {
			background-color: $accent;
			border-radius: 10px;
		}
	}
}

/* Popup Player */
.player__data {
	min-height: 7rem;
}

.player__title {
	font-weight: bold;
}

.player__artist {
	font-size: 1rem;
}

.player__art {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 8px;
}

.player__status {
	margin-top: 3rem;
}
